body {
    margin: 0;
    padding: 0;
    background: #333;
    height: 100vh;
}

.box {
  background: #cd5c5c;
  width: 300px;
  height: 300px;
  margin: 30px;
  /*transform: translate(50px, 50px);  bouger d'un point a un poit b */
  /* transform: rotate(30deg); rotation en degre */
  /* transform: scale(2); grandir l'element dans son ensemble */
  /* transform: skew(60deg, 50deg); distortion sur x et y */
}

span {
  font-size: 30px;
  color: #f1f1f1;
}