body {
    margin: 0;
    padding: 0;
    background: #333;
    height: 100vh;
}


/* les transforms ne s'applique que sr les block */
.box {
  background: #cd5c5c;
  width: 300px;
  height: 300px;
  margin: 30px;
  /*transform: translate(50px, 50px);  bouger d'un point a un poit b */
  /* transform: rotate(30deg); rotation en degre */
  /* transform: scale(2); grandir l'element dans son ensemble */
  /* transform: skew(60deg, 50deg); distortion sur x et y */
  /* transform: scale(1.5) rotate(36deg); */
  /* transition-duration: 400ms; */
  /* transition-property: background; */
  /* transition-timing-function: cubic-bezier(.1, .78, 0.96, -0.04) */
  /* transition-delay: 1s; */
  /* transition: all 400ms ease-in-out; */
  /* animation-name: spinAndMove;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
  /* animation-fill-mode: forwards; */
  /* animation-direction: alternate; */
  /* animation-timing-function: ease-in-out; */
  position: absolute;
  animation: spinAndMove 3s infinite alternate ease-in;
}

span {
  font-size: 30px;
  color: #f1f1f1;
}

.box:hover {
  background: lavender;
  /* transform: rotate(36deg); */
}

@keyframes spinAndMove {
  0% {
    top: 0;
    left: 0;
    background-color: #cd5c5c;

   
  }
  50% {
    top: 50%;
    left: 50%;
    background-color: #abb44c;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(46deg);
    /* transition: 500ms; */
   
  }
  100% {
    top: 0;
    left: 0;
    background-color: #cd5c5c;   
  }


  from {
    background: #cd5c5c;
  }
  to {
    transform: rotate(720deg);
    background: yellowgreen;
  }

}